*
!app/build/install/
!data/
!cache/data/cache/
!cache/data/objects/
!cache/data/npcs/
!cache/data/grandexchange/
!worlds.yml
!NRPlugin.jar
!app/logback-dev.xml
!app/logback-live.xml
!app/logback-beta.xml
!scripts/npc/spawns/build/libs/
!scripts/npc/definitions/build/libs/
!scripts/npc/drops/build/libs/
!scripts/npc/actions/build/libs/
!scripts/npc/build/libs/
!scripts/item/definitions/build/libs/
!scripts/item/equip/build/libs/
!scripts/item/actions/build/libs/
!scripts/item/build/libs/
!scripts/object/actions/build/libs/
!scripts/object/build/libs/
!scripts/player/actions/build/libs/
!scripts/player/build/libs/
!scripts/shops/build/libs/
!scripts/common/build/libs/
!scripts/ground-items/build/libs/
!scripts/interfaces/build/libs/
!scripts/interfaces/user/build/libs/

cache/data/cache/patches
data/logs/player\ logs/
